@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Outfit;
	background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main-area img {
	width: 250px;
	border-radius: 10px;
  margin-bottom: 20px;
}

.main-area p {
	font-size: 15px;
	font-weight: 400;
	color: hsl(216, 15%, 48%);
  margin-top: 20px;
}

.main-area h3 {
	color: hsl(218, 44%, 22%);
}

body .main-area {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  text-align: center;
  width: fit-content;
  padding: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}


/* media query small screen */
@media screen and (max-width: 375px){
  body .main-area {
    border-radius: 10px;
    padding: 15px;
    max-width: 90%;
  }

  .main-area h3 {
    font-size: 1.2rem;
  }

  .main-area p {
    font-size: 13px;
  }

  body {
    padding: 10px;
  }
}

/*  */