@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
	font-family: Outfit;
  background-color: ;
  /* d5e1ef */
}

.main-area .area img {
	width: 200px;
}
