@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Outfit;
	background-color: hsl(212, 45%, 89%);
}

.main-area img {
	width: 200px;
	border-radius: 5px;
}

.main-area p {
	font-size: 15px;
	font-weight: 400;
	color: hsl(216, 15%, 48%);
}

.main-area h1 {
	color: hsl(218, 44%, 22%);
}

body .main-area {
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  margin: ;
}
